@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-khand:var(--khand-mr);
  --font-Inter:var(--Inter-serif);

  --text-p1RegularInter:24px;
  --text-p2ExtraLightInter:18px;
  --text-p3ExtraLightInter:16px;
  --text-p4ExtraLightInter:14px;
  --text-p5ExtraLightInter:12px;
  --text-hLRegularKhand:96px;
  --text-h1RegularKhand:72px;
  --text-h2MediumKhand:64px;
  --text-h3RegularKhand:48px;
  --text-h4MediumKhand:34px;
  --text-h5RegularKhand:30px;
  --text-h6RegularKhand:24px;
  --text-sH1RegularKhand:20px;

  --leading-p2ExtraLightInter:23px;
  --leading-p3ExtraLightInter:26px;
  --leading-p4ExtraLightInter:14px;
  --leading-h2MediumKhand:73px;
  --leading-h4MediumKhand:40px;
  --leading-h6RegularKhand:29px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Adjust based on content height */
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust based on content width */
  }
}

.animate-scroll {
  animation: scroll-up 30s linear infinite;
}
.animate-scroll-right {
  animation: scroll-right 10s linear infinite;
}

.pause {
  animation-play-state: paused !important;
}
/* Hide scrollbar */
.xl\:h-\[700px\]::-webkit-scrollbar {
  display: none;
}